<form method="post">
    <div class=" mb-3">
        <label>Name</label>
        <input class="form-control" type="text" required name="name" />
    </div>
    <div class="mb-3">
        <label>Category</label>
        <select name="categoryId">
            @foreach (WebApp.Models.Category item in ViewBag.categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label>Brands</label>
        <select name="brandID">
            @foreach (WebApp.Models.Brand item in ViewBag.brands)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label>Price</label>
        <input class="form-control" type="number" name="price" step="0.01" required  />
    </div>
    <div class="mb-3">
        <label>Model Year</label>
        <input class="form-control" type="number" name="modelYear" min="1900" max="2050" required />
    </div>
    <div class="mb-3">
            <button class="btn btn-primary">Save Changes</button>
    </div>
</form>

