@model List<WebApp.Models.Member>

<table class="table table-dark">
    <thead>
        <th>UserName</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Role</th>
    </thead>
    <tbody>
        @foreach (WebApp.Models.Member item in Model)
        {
        <tr>
            <td>@item.Username</td>
            <td>@item.Email</td>
            <td>@item.Gender</td>
            <td>
                <a href="/member/roles/@item.ID">Roles</a>
            </td>
        </tr>

        }
    </tbody>
</table>